<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Size Result</title>
</head>
<body bgColor="Lavender">
    <center><h2 style="font-size:1.75rem">Network Size Result</h2></center>
    <hr>
    <p class="header3">AS Count for {{date}} : <strong>{{count}}</strong></p> <!-- the class statement adopts the design style of the stated class within the quotes from the css style script -->
    <p class="header3">Network Density for {{date}} : <strong>{{density}}</strong></p> <!-- the curly brackets are used to store variables
                                                                    which are passed in from the backend to the frontend-->
     <center><img src= "{{image}}" style="max-width:100%;height:auto;"></center>
</body>
</html>