<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Size Result</title>
</head>
<body bgColor="Lavender">
    <center><h2 style="font-size:1.75rem">Network Size Result</h2></center>
    <hr>
    <p class="header3">AS Count for {{date}} : <strong>{{count}}</strong></p> <!-- the class statement adopts the design style of the stated class within the quotes from the css style script -->
    <p class="header3">AS Links for {{date}} : <strong>{{links}}</strong></p>
    <p class="header3">Link Density for {{date}} : <strong>{{density}}</strong></p> <!-- the curly brackets are used to store variables
                                                                    which are passed in from the backend to the frontend-->
    <p class="header3"><strong>The chart shows the distribution of the number of Autonomous Systems(nodes) by degree values:</strong></p>
    <center><img src="{{url_for('static', filename='images/degree_dist.png')}}"></center>
</body>
</html>