<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Existing ASs per Period</title>
</head>
<body bgColor="Lavender">
    <center>
        <h1 style="font-size:1.75rem">New ASs per Period</h1>
    </center>
    <hr noshade>
    <p class="header3">This tool counts the number of newly assigned AS numbers within the given period.</p>
    <form class = "grid" action = "/NDresult" method = "POST"> <!-- this statement creates an interactive form for the users,
                                                                    action redirects the users to the stated hyperlink after submission
                                                                    the post method allows the output from the form to be visible to the python code-->
        <p class="header3">Enter Year:</p>
        <label class="header3">From:</label>
        <input type = "number" name = "PeriodFrom" min="1998" max="2022" step="1" class="header3"> <!--month type displays the date in months and years,
                                                min dictates the minimum date to be displayed to the users. -->
        <label class="header3">To:</label>
        <input type = "number" name = "PeriodTo" min="1998" max="2022" step="1" class="header3">
        <center><input type = "Submit" class = "file_submit" style="height:30px; max-width:400px; border:none; background-color: SteelBlue; color:white; font-size:1rem"></center>
    </form>
</body>
</html>