<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Removed ASs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body bgColor="Lavender">
    <center><h2 style="font-size:1.75rem">Number of ASs Removed</h2></center>
    <hr>
    <p class="header3"><strong>{{result}}</strong> ASs were removed between {{date1}} and {{date2}}</p>
    <p class="header3">AS Count for {{date1}} : <strong>{{count1}}</strong></p> <!-- the class statement adopts the design style of the
                                                                    stated class within the quotes from the css style script -->
    <p class="header3">AS Count for {{date2}} : <strong>{{count2}}</strong></p> <!-- the curly brackets are used to store variables
                                                                    which are passed in from the backend to the frontend-->
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Autonomous System</th>
            </tr>
      </thead>
      <tbody>
      {% for x in range(result)%}
        <tr>
          <th scope="row">{{x+1}}</th>
          <td>{{removed[x]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <!--        table end-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<style>
    body{background-color:Lavender}
</style>
</html>